
ShigaApp.xcodeproj/xcuserdata/toshi.xcuserdatad/xcschemes/xcschememanagement.plist

ShigaApp.xcodeproj/xcuserdata/toshi.xcuserdatad/xcschemes/ShigaApp.xcscheme

ShigaApp.xcodeproj/xcuserdata/toshi.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ShigaApp.xcodeproj/project.xcworkspace/xcuserdata/toshi.xcuserdatad/UserInterfaceState.xcuserstate

ShigaApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ShigaApp.xcodeproj/project.pbxproj
